@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Space+Grotesk:wght@300..700&display=swap");

:root {

  --cor-branca: #ffffff;
  --cor-texto-secundario: #d0d0d0;

  --vinland-sangue: #7a1010;
  --vinland-sangue-vivo: #aa0000;

  --vinland-ouro-viking: #c8a45d;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */

html,
body {
  width: 100%;
  height: 100%;
}

body {

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;

  overflow: hidden;

  font-family: "Cinzel", serif;

  color: var(--cor-branca);

  background-image: url("../assets/imgs/imagem-fundo-quiz.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--tamanho-header);
  background-color: rgba(10, 5, 5, 0.9);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(170, 0, 0, 0.4);
  z-index: 100;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.titulo {
  font-family: "Cinzel", serif;
  font-size: 2.4rem;
  color: var(--cor-vermelho-principal);
  font-weight: 600;
  letter-spacing: 1px;
}

/* NAVBAR */
.navbar {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.header a {
  font-size: 1.4rem;
  font-weight: 500;
  color: #ccc;
  transition: 0.3s ease;
}

.header a:hover {
  color: var(--cor-vermelho-principal);
}

.agora a {
  color: var(--cor-vermelho-principal) !important;
  font-weight: 700;
}

/* BOTÕES HEADER */
.btn-login {
  padding: 0.6rem 1.6rem;
  border: 1px solid var(--cor-vermelho-principal);
  border-radius: 6px;
  color: var(--cor-vermelho-principal) !important;
  transition: 0.3s;
}

.btn-login:hover {
  background: var(--cor-vermelho-principal);
  color: white !important;
}

.btn-cadastro {
  padding: 0.6rem 1.6rem;
  border-radius: 6px;
  background: var(--cor-vermelho-principal);
  color: white !important;
  transition: 0.3s;
}

.btn-cadastro:hover {
  background: var(--cor-vermelho-hover);
} */

/* QUIZ */

.layout-quiz {

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#containerQuiz {

  width: 100%;
  max-width: 1400px;

  padding: 35px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 22px;

  border-radius: 22px;

  background-color: rgba(0, 0, 0, 0.18);

  box-shadow: 0 0 18px rgba(0, 0, 0, 0.18);
}

/* TITULO */

.container-titulo-quiz {

  width: 100%;

  display: flex;
  justify-content: center;
}

.conteudo-titulo-quiz {

  text-align: center;
}

.titulo-quiz {

  font-size: 52px;
  font-weight: 700;

  color: var(--vinland-ouro-viking);
}

.subtitulo-quiz {

  font-size: 18px;

  text-align: center;

  color: var(--cor-texto-secundario);

  max-width: 900px;
}

/* PERGUNTA */

.container-pergunta-quiz {

  width: 100%;
  max-width: 1000px;

  padding: 25px;

  border-radius: 18px;

  background-color: rgba(0, 0, 0, 0.35);

  text-align: center;
}

.pergunta-quiz {

  font-size: 28px;
  font-weight: 700;

  color: var(--cor-branca);
}

/* INFO */

.informacoes-alternativas {

  width: 100%;
  max-width: 1000px;

  text-align: left;
}

.texto-info-alternativas {

  font-size: 15px;

  color: var(--cor-texto-secundario);
}

/* ALTERNATIVAS */

.container-alternativas {

  width: 100%;
  max-width: 1000px;

  display: flex;
  flex-direction: column;

  gap: 14px;
}

.item-alternativa-quiz {

  width: 100%;

  display: flex;
  align-items: center;

  gap: 15px;

  padding: 18px;

  border-radius: 16px;

  background-color: rgba(0, 0, 0, 0.42);

  cursor: pointer;

  transition: 0.2s;
}

.item-alternativa-quiz:hover {

  background-color: rgba(170, 0, 0, 0.4);
}

.radio-quiz {

  width: 20px;
  height: 20px;

  accent-color: var(--vinland-sangue-vivo);

  cursor: pointer;
}

.opcao-quiz {

  width: 100%;

  font-size: 22px;
  font-family: "Barlow", sans-serif;

  color: var(--cor-branca);

  cursor: pointer;
}

/* BOTÃO */

.container-botoes-quiz {

  width: 100%;
  max-width: 1000px;

  margin-top: 5px;
}

.botao-quiz {

  width: 980px;

  padding: 18px;

  border: none;
  border-radius: 16px;

  background-color: var(--vinland-sangue-vivo);

  color: var(--cor-branca);

  font-size: 22px;
  font-weight: 700;

  font-family: "Cinzel", serif;

  cursor: pointer;

  transition: 0.2s;
}

.botao-quiz:hover {

  background-color: var(--vinland-sangue);
}

/* ALTERNATIVA SELECIONADA */

.alternativa-selecionada {

  border: 2px solid var(--vinland-ouro-viking);

  background-color: rgba(200, 164, 93, 0.18);
}

/* RESPONSIVO */

@media (max-width: 768px) {

  body {

    padding: 12px;
  }

  #containerQuiz {

    padding: 20px;
  }

  .titulo-quiz {

    font-size: 34px;
  }

  .pergunta-quiz {

    font-size: 22px;
  }

  .opcao-quiz {

    font-size: 18px;
  }

  .botao-quiz {

    font-size: 18px;
  }
}
